body {
    padding: 0;
    margin: 0;
    background-image:url('images/contemporary_china.png');
    position: relative;
}

/* HEADER SHIZZ */

#header {
    position:fixed;
    top:0;
    width: 100%;
    height: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding:0;
    background-color: #212121;
    background-color: #3E2723;

    background: #5D4037; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#212121, #5D4037); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#212121, #5D4037); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#212121, #5D4037); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#212121, #5D4037); /* Standard syntax */

    z-index:3;
}



#header-container {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    padding:0;
    /*padding-bottom: 10px;*/
    padding-top: 10px;
}
#table-header {
    position:relative;
    height:50px;
    -webkit-transition: filter 0.2s;
    transition: filter 0.2s;
}
#table-header image:hover {
    filter: url(#brightness);

}



h1 {
    font-family: 'Vidaloka', serif;
    text-align: center;
    font-weight: normal;
    font-size:72px;
    padding:0;
    margin:0;
    color:white;
    color:#FFF9C4;
    opacity: 0;
}
@media screen and (max-width: 650px) {
    h1 {
        font-size: 48px;
    }
}
h1 span {
    font-size:32px;
    font-style:italic;
}
@media screen and (max-width: 650px) {
    h1 span {
        font-size: 24px;
    }
}

#header-tooltip {
    position:absolute;
    pointer-events:none;
    /*left:-999px;*/
    opacity:0;
    padding:10px;
    z-index:9;
    background-color:#5D4037;
    border-radius:5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
#header-tooltip h2 {
    text-align:center;
    padding:0px;
    margin:0px;
    color:white;
    font-family: 'Vidaloka', serif;
    font-size:18px;
    font-weight:normal;
}
#header-tooltip p {
    text-align: center;
    color:#9E9E9E;
    margin:0;
    font-family: 'Vidaloka', serif;
    font-size:14px;
}

/* TABLE CONTENT SHIZZ */

#content {
    position:relative;
    top:148px;
    max-width:1000px;
    margin:0 auto;
    margin-bottom: 700px;
    height:auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color:#FAFAFA;
}
@media screen and (max-width: 650px) {
    #content {
        top: 118px;
    }
}
.table-row {
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.table-row rect {
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}
.table-row text {
    font-family: 'Roboto Mono', monospace;
    /*font-size:*/
    font-weight:500;
    fill:white;
    fill:black;
}
/*.table-row rect:hover {
    filter:url(#dropshadow);
}*/


#content-tooltip {
    position:absolute;
    pointer-events:none;
    /*left:-999px;*/
    opacity:0;
    padding:10px;
    z-index:2;
    background-color:white;
    border-radius:5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
    /*border: 1px solid #9E9D24;*/
    /*-webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;*/
}
#content-tooltip h2 {
    text-align:center;
    padding:0px;
    margin:0px;
    color:black;
    font-family: 'Vidaloka', serif;
    /*font-family: 'Roboto Mono', monospace;*/
    font-size:18px;
    font-weight:normal;
}
#content-tooltip p {
    text-align: center;
    color:#9E9E9E;
    margin:0;
    font-family: 'Vidaloka', serif;
    font-size:14px;
}
#content-tooltip img {
    display:block;
    margin: 5px auto;
}

#tally {
    position: fixed;
    z-index:999;
}
